$color_primary: #f75d3e;
$color_secondary: #58bd44;
$color_accent: #2ccc0c;

$color_white: #ffffff;

$color_text-primary: #0D0D0D;

$color_gray-200: #E5E7EB;
$color_gray-300: #D1D5DB;
$color_gray-500: #636663;
$color_gray-700: #323331;
$color_gray-900: #0D0D0D;

$color_orange: #ff4f1f;
$color_orange-200: rgba($color_orange, 0.2);

$color_green: #23BF0B;
$color_green-200: rgba($color_green, 0.4);
$color_green-dark: #3c802e;

$color_pink: #f73e72;
