$color_text-primary: #0D0D0D;

$color_gray-200: #E5E7EB;
$color_gray-300: #D1D5DB;
$color_gray-500: #636663;
$color_gray-700: #323331;
$color_gray-900: #0D0D0D;

$color_orange: #ff4f1f;
$color_green: #23BF0B;
$color_blue: #0b4abf;
$color_pink: #f73e72;
$color_white: #ffffff;